/* line 9, ../sass/base.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 13, ../sass/base.scss */
body {
  height: 100%;
  margin: 0;
  color: #F9C454;
}

/* line 18, ../sass/base.scss */
.main_container {
  position: absolute;
  width: 100%;
  height: inherit;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 27, ../sass/base.scss */
.rotate_left, .rotate_right, .temp_bt {
  position: relative;
}

/* line 30, ../sass/base.scss */
.rotation_platform {
  height: 240px;
  top: 40px;
  position: relative;
  width: 240px;
  overflow: hidden;
  margin-bottom: 60px;
}

/* line 38, ../sass/base.scss */
#triangle_frame {
  pointer-events: none;
  position: absolute;
  top: 80px;
}

/* line 44, ../sass/base.scss */
#engine_canvas {
  margin: auto;
  display: block;
  left: -30px;
  top: -30px;
  position: relative;
}

/* line 51, ../sass/base.scss */
.auto_manual_control > div {
  width: 30%;
  float: left;
}

/* line 55, ../sass/base.scss */
.left_btns {
  margin: 0px 5% 0px 0px;
}
/* line 57, ../sass/base.scss */
.left_btns button {
  float: right;
}

/* line 61, ../sass/base.scss */
.right_btns {
  margin: 0px 0px 0px 5%;
}
/* line 63, ../sass/base.scss */
.right_btns button {
  float: left;
}

/* line 67, ../sass/base.scss */
#hand_rotation_btn {
  width: 60px;
  height: 70px;
  position: relative;
  margin: auto;
  margin-top: 10px;
  display: block;
  background-image: url("../img/hand_print.gif");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(220, 220, 220, 0);
  border: none;
}

/* line 81, ../sass/base.scss */
#hand_rotation_btn:hover {
  opacity: 1;
}

/* line 84, ../sass/base.scss */
.auto_rotation_btn {
  height: 40px;
  font: 40px 'Neuton', cursive;
  background: transparent;
  border: none;
  color: #F9C454;
}

/* line 91, ../sass/base.scss */
.auto_rotation_btn span {
  line-height: 40px;
  display: table-cell;
}

/* line 95, ../sass/base.scss */
.auto_rotation_btn:active, .auto_rotation_btn:hover, .auto_rotation_btn:focus {
  outline: none;
  color: #FFDC91;
}

/* line 99, ../sass/base.scss */
#stop_bt {
  width: 100%;
}
/* line 101, ../sass/base.scss */
#stop_bt span {
  display: block;
}

/* line 105, ../sass/base.scss */
.settings_panel {
  background: transparent;
  height: 100%;
  position: absolute;
  top: 0px;
  -moz-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

/* line 112, ../sass/base.scss */
.right_settings_panel {
  right: -300px;
}

/* line 115, ../sass/base.scss */
.right_panel_show {
  right: 0px;
}

/* line 118, ../sass/base.scss */
.panel_content {
  width: 300px;
  height: 100%;
  background-color: rgba(24, 36, 62, 0.61);
  overflow: hidden;
  top: 0px;
  float: left;
}

/* line 126, ../sass/base.scss */
.setting_container {
  padding: 30px 30px 30px 30px;
}

/* line 129, ../sass/base.scss */
.checkbox_block {
  display: block;
}

/* line 132, ../sass/base.scss */
.range_slider_container {
  position: relative;
  width: 190px;
  float: left;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
}

/* line 140, ../sass/base.scss */
.panel_tab {
  width: 40px;
  height: 100%;
  position: relative;
  background-color: transparent;
  float: left;
}
/* line 146, ../sass/base.scss */
.panel_tab span {
  text-shadow: 1px 1px 0 #5a440c;
  font-size: 40px;
  font-weight: bolder;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  -moz-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

/* line 158, ../sass/base.scss */
input[type=button] {
  background: #F9C454;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5YzQ1NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5NzAzOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9c454), color-stop(100%, #d97039));
  background: -moz-linear-gradient(top, #f9c454, #d97039);
  background: -webkit-linear-gradient(top, #f9c454, #d97039);
  background: linear-gradient(to bottom, #f9c454, #d97039);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  border: none;
  margin-left: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: "Trirong", cursive;
  color: #ffffff;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
}

/* line 174, ../sass/base.scss */
input[type=button]:hover {
  background: #f0c97a;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwYzk3YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxN2YzZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0c97a), color-stop(100%, #f17f3f));
  background: -moz-linear-gradient(top, #f0c97a, #f17f3f);
  background: -webkit-linear-gradient(top, #f0c97a, #f17f3f);
  background: linear-gradient(to bottom, #f0c97a, #f17f3f);
  text-decoration: none;
}

/* line 179, ../sass/base.scss */
.left_panel_show > .panel_tab > span {
  -moz-transform: translate(-40px) rotate(45deg);
  -ms-transform: translate(-40px) rotate(45deg);
  -webkit-transform: translate(-40px) rotate(45deg);
  transform: translate(-40px) rotate(45deg);
}

/* line 182, ../sass/base.scss */
.right_panel_show > .panel_tab > span {
  -moz-transform: translate(40px) rotate(-45deg);
  -ms-transform: translate(40px) rotate(-45deg);
  -webkit-transform: translate(40px) rotate(-45deg);
  transform: translate(40px) rotate(-45deg);
}

/* line 189, ../sass/base.scss */
.left_settings_panel {
  left: -300px;
}

/* line 192, ../sass/base.scss */
.left_panel_show {
  left: 0px;
}

/* line 196, ../sass/base.scss */
fieldset.setting_block {
  width: 205px;
  min-height: 60px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid;
  border-color: #D0BD87;
  font: 18px "Trirong", cursive;
}

/* line 205, ../sass/base.scss */
.radio_block {
  display: block;
}

/* line 209, ../sass/base.scss */
input.color_picker {
  border: none;
  width: 100px;
  height: 40px;
  text-align: center;
  font: 16px "Trirong", cursive;
}
