@keyframes hide_panel {
  0% {
    width: 300px;
  }
  100% {
    width: 0px;
  }
}
@keyframes show_panel {
  0% {
    width: 0px;
  }
  100% {
    width: 300px;
  }
}
@keyframes show_bottom_panel {
  0% {
    height: 0px;
  }
  100% {
    height: 300px;
  }
}
@keyframes hide_bottom_panel {
  0% {
    height: 300px;
  }
  100% {
    height: 0px;
  }
}
/* line 44, ../sass/base.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 48, ../sass/base.scss */
body {
  margin: 0;
}

/* line 51, ../sass/base.scss */
.main_container {
  position: absolute;
  width: 100%;
  height: inherit;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 83, ../sass/base.scss */
.rotate_left, .rotate_right, .temp_bt {
  position: relative;
}

/* line 86, ../sass/base.scss */
.rotation_platform {
  height: inherit;
  position: absolute;
  width: 300px;
}

/* line 91, ../sass/base.scss */
.settings_panel {
  background: transparent;
  height: 100%;
  position: absolute;
  top: 0px;
  -moz-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

/* line 98, ../sass/base.scss */
.right_settings_panel {
  right: -300px;
}

/* line 101, ../sass/base.scss */
.right_panel_show {
  right: 0px;
}

/* line 104, ../sass/base.scss */
.panel_content {
  width: 300px;
  height: 100%;
  background-color: rgba(24, 36, 62, 0.61);
  position: relative;
  overflow: hidden;
  top: 0px;
  float: left;
}

/* line 113, ../sass/base.scss */
.setting_container {
  padding: 30px 30px 30px 30px;
}

/* line 116, ../sass/base.scss */
.panel_tab {
  width: 40px;
  height: 100%;
  position: relative;
  background-color: transparent;
  float: left;
}

/* line 127, ../sass/base.scss */
.left_settings_panel {
  left: -300px;
}

/* line 130, ../sass/base.scss */
.left_panel_show {
  left: 0px;
}

/* line 134, ../sass/base.scss */
fieldset.setting_block {
  width: 200px;
  min-height: 60px;
  margin-bottom: 20px;
  border-radius: 6px;
  border-color: #A0A6AB;
  font: 18px "Trirong", cursive;
}

/* line 142, ../sass/base.scss */
.radio_block {
  display: block;
}

/* line 146, ../sass/base.scss */
input.color_picker {
  border: none;
  width: 120px;
  height: 40px;
  text-align: center;
  font: 16px "Trirong", cursive;
}
