@import "compass";

//Alegreya|Taviraj|Trirong|Amatic+SC|Pangolin
$font-base-family: 'Taviraj', cursive;
$color-font-base: #ee6300;
$color-font-hover: #eea807;

@mixin font-base($size) {
  font: $size $font-base-family;
}
//@keyframes hide_panel{
//  0%{
//    width: 300px;
//  }
//  100%{
//    width: 0px;
//  }
//}
//@keyframes show_panel{
//  0%{
//    width: 0px;
//  }
//  100%{
//    width: 300px;
//  }
//}
//@keyframes show_bottom_panel{
//  0%{
//    height: 0px;
//  }
//  100%{
//    height: 300px;
//  }
//}
//@keyframes hide_bottom_panel{
//  0%{
//    height: 300px;
//  }
//  100%{
//    height: 0px;
//  }
//}
@keyframes plus_to_cross{
  0%{
    left:0px;
  }
  100%{
    left:-30px;
  }
}

html{
  height: 100%;
  overflow: hidden;
}
body{
  margin: 0;
  color: #F9C454;
}
.main_container{
  position: absolute;
  width: 100%;
  height: inherit;
  top:0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.100);
}
#kaleidoscope{}
.rotate_left, .rotate_right, .temp_bt{
    position: relative;
  }
.rotation_platform{
  height: 240px;
  top:40px;
  position: relative;
  width: 240px;
  overflow: hidden;
  margin-bottom: 60px;
}
#engine_canvas{
  margin: auto;
  display: block;
  left: -30px;
  top: -30px;
  position: relative;
}
#hand_rotation_btn{
  width: 60px;
  height: 60px;
  position: relative;
  margin: auto;
  margin-top: 10px;
  display: block;
  background-image: url("../img/hand_print.gif");
  opacity: 0.8;
  background-size: cover;
  background-color: rgba(220, 220, 220, 0);
  border: none;
}
#hand_rotation_btn:hover{
  opacity: 1;
}
.auto_rotation_btns button{
  font: 50px 'Amatic SC', cursive;
  background: transparent;
  border: none;
  color: #F9C454;
}
.settings_panel{
  background: transparent;
  height: 100%;
  position: absolute;
  top: 0px;
  @include transition(0.5s ease-in);
}
.right_settings_panel{
    right: -300px;
}
.right_panel_show{
  right: 0px;
}
.panel_content{
  width: 300px;
  height: 100%;
  background-color: rgba(24, 36, 62, 0.61);
//  position: relative;
  overflow: hidden;
  top: 0px;
  float: left;
}
.setting_container{
  padding: 30px 30px 30px 30px;
}
.panel_tab{
  width: 40px;
  height: 100%;
  position: relative;
  background-color: transparent;
  float:left;
  span{
    font-size: 40px;
    font-weight: bolder;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    text-align: center;
    @include transition(0.5s ease-in);
  }
}
.left_panel_show>.panel_tab>span{
  @include transform (translate(-40px) rotate(45deg) );
}
.right_panel_show>.panel_tab>span{
  @include transform (translate(40px) rotate(-45deg) );
}
#right_tab{
  }
#right_panel_content{}

.left_settings_panel{
  left: -300px;
}
.left_panel_show{
  left: 0px;
}
#left_panel_content{}
fieldset.setting_block {
  width: 205px;
  min-height: 60px;
  margin-bottom: 20px;
  border-radius: 6px;
  border-color: #D0BD87;
  @include font-base(18px);
}
.radio_block{
  display: block;
}
#color_canvas{}
input.color_picker{
  border: none;
  width: 120px;
  height: 40px;
  text-align: center;
  @include font-base(16px);
}





.input_shape{}
#particle_size{}
#color_fill{}
#color_stroke{}
#width_stroke{}

